{% extends 'index.html' %}

{% block conteudo %}

    <h2>➕➖ Movimentar Estoque — {{ produto.nome }}</h2>
    <hr>

    <form method="POST">

        <label class="form-label">Quantidade:</label>
        <input type="number" class="form-control" name="quantidade" min="1" required>
        <label class="form-label mt-3">Tipo de Movimentação:</label>
        <select class="form-select" name="status">
            <option value="entrada">Entrada</option>
            <option value="saida">Saída</option>
        </select>

        <button class="btn btn-success mt-4">Salvar Movimentação</button>

    </form>

    <a href="/estoque/{{ produto.id_produto }}" class="btn btn-secondary mt-3">Voltar</a>

{% endblock conteudo %}